{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <div class="{{ containerForm3 }}">
        <form method="post">

            {% set text="Please sign in" %}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="{{ containerFormTitle }} d-inline-flex justify-content-between a">
                    <a>You are logged in as {{ app.user.username }}</a>
                    <a class="{{ btnDelete }}" href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% set text="An other way you can change user :" %}
            {% endif %}
            <div class="{{ containerForm2 }} align-content-center align-items-center mt-5">
                <h1 class="h3 mb-3 font-weight-normal">{{ text }}</h1>
            </div>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                   autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="d-flex justify-content-center">
                <button class="{{ btnDelete }}" type="submit">
                    Sign in
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <a class="text-black-50" href="{{ path('app_register') }}"> You dont have an accout ? Click here for
                    create new account !!
                </a>
            </div>
        </form>
    </div>
{% endblock %}
