{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container d-flex flex-column">
    <div class="{{ containerFormTitle }}">
        <h1 class="col-6 ml-1 p-2">Comment index : </h1>
        <a class="{{ btnDelete }} col-6 mt-2" href="{{ path('comment_new') }}">Create new</a>
    </div>
    <table class="table {{ containerTable }}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Rate</th>
                <th>Author mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set bgBascule = false %}
        {% for comment in comments %}
            {% if bgBascule == false %}
                {% set bgColor = "bg-secondary" %}
                {% set bgBascule = true %}
            {% else %}
                {% set bgColor = "bg-primary " %}
                {% set bgBascule = false %}
            {% endif %}
            <tr class="{{ bgColor }}">
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.author.email }}</td>
                <td>
                    {% set userControl = app.user.email|default("anonymous") %}
                    <div class="d-flex flex-column">
                        <a class="{{ btnDelete }}" href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                        {% if userControl == comment.author.email or is_granted("ROLE_ADMIN") %}
                            <a class="{{ btnDelete }}"
                               href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
