{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
<div class="{{ containerForm3 }}">
    <div class="{{ containerFormTitle }}">
        <h1 class="col-6 p-2 mr-1 text-white">Comments : </h1>
            {{ include('comment/_edit_button.html.twig') }}
        <div class="col-3 ml-1 mt-1">
            {{ include('comment/_delete_form.html.twig') }}
        </div>
    </div>
    <table class="table {{ containerTable }}">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ comment.comment }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ comment.rate }}</td>
            </tr>
        </tbody>
    </table>



    <div class="{{ containerEnd }}">
        <a class="{{ btnDelete }}" href="{{ path('comment_index') }}">back to list</a>
    </div>


</div>
{% endblock %}
