{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
        <div class="{{ containerFormTitle }}">
            <h1 class="col-6 ml-1 p-2">Program index : </h1>
            <a class="{{ btnDelete }} col-6 mt-2" href="{{ path('program_new') }}">Create new</a>
        </div>
        <table class="table {{ containerTable }}">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Actors</th>
                <th>Poster</th>
                <th>actions</th>
                <th>Add to favorite</th>
            </tr>
            </thead>
            <tbody>
            {% set bgBascule = false %}
            {% for program in programs %}
                {% if bgBascule == false %}
                    {% set bgColor = "bg-secondary" %}
                    {% set bgBascule = true %}
                {% else %}
                    {% set bgColor = "bg-primary " %}
                    {% set bgBascule = false %}
                {% endif %}
                <tr class="{{ bgColor }}">
                    <td>{{ program.id }}</td>
                    <td class="border-left border-dark">{{ program.title }}</td>
                    <td class="border-left border-dark">{{ program.summary }}</td>
                    <td>
                    <ul class="list-inline">
                        {% for actor in program.actors %}
                            <li>
                                <a class="text-dark" href="{{ path('actor_show', {'slug': actor.slug}) }}">
                                    {{ actor.name }}, </a>
                            </li>
                        {% else %}
                            <li><strong>Aucun acteur pour cette série</strong></li>
                        {% endfor %}
                    </ul>
                    </td>
                    <td class="border-left border-dark">
                        <div class="p-1 bg-danger border border-white rounded">
                            <img class="rounded border border-white" src="{{ program.poster }}" width="80"/>
                        </div>
                    </td>

                    <td class="border-left border-dark">
                        <div class="d-flex flex-column">
                            <a class="h6 text-dark bg-white rounded p-2 border border-dark" href="{{ path
                                ('program_show', {'slug': program.slug}) }}">show</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="h6 text-dark bg-white rounded p-2 border border-dark" href="{{ path
                                    ('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
                            {% endif %}
                        </div>
                    </td>
                    <td class="iconSize50">
                        <i class="far fa-heart"></i>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
