{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <div class="mb-2 mt-4 d-flex rounded bg-danger border border-white shadow-lg justify-content-between align-items-center">
        <h1 class="p-2 mr-1 text-white">Show Program : </h1>

        <div class="mt-1">
            <a class="{{ btnDelete }}" href="{{ path('program_edit', {'slug': program.slug }) }}">edit</a>
        </div>
        <div class="mt-1">
            {{ include('program/_delete_form.html.twig') }}
        </div>
        {% set way = app.request.schemeAndHttpHost ~ path('program_watchlist', {'id': program.id}) %}
        <div class="mr-1 iconSize50">
            <i id="watchList-{{ program.id }}"
               class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist"
               data-href="{{ way }}"></i>
        </div>
    </div>
    <table class="table {{ containerTable }} bg-secondary">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ program.id }}</td>
        </tr>
        <!-- line 1 -->
        <tr>
            <th>Title</th>
            <td>{{ program.title }}</td>
        </tr>

        <!-- line 2 -->
        <tr>
            <th>Summary</th>
            <td>{{ program.summary }}</td>
        </tr>

        <!-- line 3 -->
        <tr>
            <th>poster visual</th>
            <td>
                <img alt="{{ program.poster }}" class="col-2 rounded border border-white"
                     src="{{ program.poster }}" width="100"/>
            </td>
        </tr>

        <!-- line 4 -->
        <tr>
            <th>Poster link</th>
            <td>
                <p>
                    <span class="myTdLink">{{ program.poster }}</span>
                </p>
            </td>
        </tr>

        <!-- line 5 -->
        <tr>
            <th>Program Actors</th>
            <td>
                <ul class="list-inline">
                    {% for actor in program.actors %}
                        <li>
                            <a class="text-dark" href="{{ path('actor_show', {'slug': actor.slug}) }}">
                                {{ actor.name }} </a>

                        </li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>

            </td>

            <!-- line 5 -->
        <tr>
            <th>Program Comments</th>
            <td>
                <ul class="list-inline">

                    <!-- season list -->
                    {% for season in program.seasons %}
                        <li>
                            <a class="text-dark" href="{{ path('season_show', {'id': season.id}) }}"></a>

                            <!-- list episodes -->
                            {% for episode in season.episodes %}
                                <!-- variable pour afficher le titre de l'episode une seule fois -->
                                {% set alreadyShow = false %}

                                <!-- pour chaque commentaire -->
                                {% for comment in comments %}
                                    {% if comment.episode == episode %}
                                        {% if not alreadyShow %}

                                            <p class="font-weight-bold"> Season : [{{ season.number }}], Episode:
                                                [{{ episode.title }}]
                                                <a class="m-1"
                                                   href="{{ path('wild_season', { 'id': season.id }) }}">
                                                    Cliquer ici pour la liste des episodes de cette saison</a>
                                            </p>
                                            {% set alreadyShow = true %}

                                        {% endif %}
                                        <p> Comment by [{{ comment.author }}] and his rate for this episode
                                            {{ comment.rate }} </p>
                                    {% endif %}
                                {% else %}
                                {% endfor %}
                            {% else %}
                            {% endfor %}

                        </li>
                    {% else %}
                        <li>No comments for this program</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>


        </tbody>

    </table>

    <div class="{{ containerEnd }}">
        <a class="{{ btnDelete }}" href="{{ path('program_index') }}">back to list</a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('watchlist') }}
{% endblock %}
