{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <div class="{{ containerFormTitle }}">
        <h1 class="col-6 p-2 mr-1 text-white">Show Program : </h1>
        <div class="col-3 mt-1">
            <a class="{{ btnDelete }}" href="{{ path('program_edit', {'slug': program.slug }) }}">edit</a>
        </div>
        <div class="col-3 mt-1">
            {{ include('program/_delete_form.html.twig') }}
        </div>
    </div>



    <table class="table {{ containerTable }} bg-secondary">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ program.id }}</td>
        </tr>
        <!-- line 1 -->
        <tr>
            <th>Title</th>
            <td>{{ program.title }}</td>
        </tr>

        <!-- line 2 -->
        <tr>
            <th>Summary</th>
            <td>{{ program.summary }}</td>
        </tr>

        <!-- line 3 -->
        <tr>
            <th>poster visual</th>
            <td>
                <img alt="{{ program.poster }}" class="col-2 rounded border border-white"
                     src="{{ program.poster }}" width="100"/>
            </td>
        </tr>

        <!-- line 4 -->
        <tr>
            <th>Poster link</th>
            <td>
                <p>
                    <span class="myTdLink">{{ program.poster }}</span>
                </p>
            </td>
        </tr>

        <!-- line 5 -->
        <tr>
            <th>Program Actors</th>
            <td>
                <ul class="list-inline">
                    {% for actor in program.actors %}
                        <li>
                            <a class="text-dark" href="{{ path('actor_show', {'slug': actor.slug}) }}">
                                {{ actor.name }} </a>

                        </li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>

            </td>

            <!-- line 5 -->
        <tr>
            <th>Program Comments</th>
            <td>
                <ul class="list-inline">

                    <!-- season list -->
                    {% for season in program.seasons %}
                        <li>
                            <a class="text-dark" href="{{ path('season_show', {'id': season.id}) }}"></a>

                            <!-- list episodes -->
                            {% for episode in season.episodes %}
                                {% set alreadyShow = false %}
                                {% for comment in comments %}
                                    {% if not alreadyShow %}
                                        <p class="font-weight-bold"> Season : [{{ season.number }}], Episode:
                                            [{{ episode.title }}]
                                            <a class="m-1" href="{{ path('wild_season', { 'id': season.id }) }}">
                                                Cliquer ici pour afficher les pisodes de cette saison</a>
                                        </p>

                                        {% set alreadyShow = true %}
                                    {% endif %}
                                    {% if comment.episode == episode %}
                                        <p> Comment by [{{ comment.author }}] and his rate for trhis episode
                                            {{ comment.rate }} </p>
                                    {% endif %}
                                {% else %}
                                {% endfor %}


                            {% else %}
                            {% endfor %}

                        </li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>


        </tbody>

    </table>

    <div class="{{ containerEnd }}">
        <a class="{{ btnDelete }}" href="{{ path('program_index') }}">back to list</a>
    </div>

{% endblock %}
