<nav class="navbar navbar-expand-lg self pl-xl-5 rounded">
    <button class="navbar-toggler rounded-pill" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand myButton" href=" /">Wildseries</a>

            </li>
            <li>
                <a class="nav-link myButton " href="/wild">Wild</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('category_index') }}">Cat.</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('program_index') }}">Prog.</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('season_index') }}">Seas.</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('episode_index') }}">Epis.</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('actor_index') }}">Act.</a>
            </li>
            <li>
                <a class="nav-link myButton" href="{{ path('comment_index') }}">Com.</a>

            </li>

            <li class="nav-item dropdown rounded ">
                <a class="nav-link dropdown-toggle myButton" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Mon compte
                </a>
                <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown">
                    {% if app.user %}

                        <a class="dropdown-item myIconLogout" href="{{ path('app_logout') }}">
                            Deconnexion <img class="pl-2" width="50" height="50" src="{{ asset
                                ('Img/icon/logout-red.png') }}"/>
                         </a>

                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}"> Se connecter
                            <img class="pl-2" width="50" height="50" src="{{ asset
                                ('Img/icon/man-user_black.png') }}"/>
                        </a>
                        <a class="dropdown-item" href="{{ path('app_register') }}"> Creer un compte
                            <img class="pl-2" width="50" height="50" src="{{ asset
                                ('Img/icon/man-user_black.png') }}"/>
                        </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item shadow-sm bg-primary text-decoration-none" href="#">
                        {% if app.user.email is defined %}
                            {{ app.user.email }}
                        {% else %}
                            Ananymous
                        {% endif %}
                    </p>
                </div>
            </li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 myButton" type="submit">Search</button>
        </form>-->
    </div>
</nav>
